* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;

}
:root {
  --background-dark: rgb(61, 6, 15);
  --background-middle: rgb(109, 43, 54);
  --background-light: rgb(222, 191, 196);
  --color-dark: rgb(59, 6, 15);
  --color-middle: rgb(123, 62, 73);
  --color-light: pink;
  --color-w: white;
  --font-size-: 20px;
  --font-family-g: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-family-f: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --letter-spacing-b: 5px;
  --letter-spacing-s: 2px;
  --box-shadow-: 2px 2px 5px pink;
  --border-radius-: 5px;
  --border-: none;
  --text-align-: center;
}
.btn {
  font-family: var(--font-family-f);
  font-size: var(--font-size-);
  letter-spacing: var(--letter-spacing-b);
  box-shadow: var(--border-);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.nav-align {
  /* display: none; */
  width: 100%;
  /* background: var(--background-dark); */
}
.fa-chart-bar {
  color: var(--color-w);
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.7s ease;
}
.barAnimate{
transform: rotate(90deg);

}
.icon {
  background: var(--background-dark);
 
}

.barList{
    padding: 1rem;
    background: var(--background-dark);
    color: white;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;

  }
  .fa-square-caret-up{
    transition: all 0.5s ease;
    font-size: 17px;
    transform: rotate(90deg);
   position: relative;
   top: 4px;
  }
  .upRotate{
    transform: rotate(180deg);
    
    color: rgb(93, 30, 152);
}
  .barListShow{
    width: 100%;
    height: 200px;
    
  }
  
  .barList h2{
    padding: 20px;
    font-family: var(--font-family-f);
  font-size: var(--font-size-);
  letter-spacing: var(--letter-spacing-b);
  text-transform: capitalize;
  font-weight: 300;
color: rgb(41, 16, 155);
cursor: pointer;

  }
.nav h1 {
  /* border:3px solid rgb(253, 252, 251); */
  padding: 5px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--color-w);
  letter-spacing: var(--letter-spacing-b);
  text-transform: capitalize;
}

.OrderList {
  text-align: center;
  text-transform: capitalize;
  border: 3px solid rgb(249, 248, 245);
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-family-g);
  font-size: var(--font-size-);
  padding: 15px;
  letter-spacing: var(--letter-spacing-b);
  background: var(--background-dark);
  & .fa-regular {
    color: var(--color-w);
    cursor: pointer;
    /* border: 2px solid; */
  }
}
.OrderList a {
  color: var(--color-w);
  
}

@media screen and (max-width: 700px) {
  .OrderList {
    display: none;
    background: none;
  }
}
@media screen and (min-width: 700px) {
  .nav h1 {
    display: none;
  }
  .icon {
    display: none;
  }
  .barList{
    display: none;
  }
}

.OrderList a {
  color: var(--color-w);
  /* border: 2px solid; */
  /* display: none; */
}

.dataTypes li {
  padding: 1rem;
}
.dataTypes-2 li{
    padding: 1rem;
} 
.dataTypes-2 ul{
    position: absolute;
    transition: all 1s ease;
    height: 0;
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 20px;
    top: 3.7rem;
    right: 7rem; 
    color: rgb(100, 76, 53);
}
.dataTypes ul {
  position: absolute;
  transition: all 1s ease;
  height: 0;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  top: 3.7rem;
  left: 7rem; 
  color: rgb(100, 76, 53);
  /* background: rgb(83, 62, 41); */
}
.dataTypesShow ul{
    background: rgb(83, 62, 41);
height: 400px;
}
.dataTypesShow2 ul{
    background: rgb(83, 62, 41);
height: 550px;
}
