*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-dark:rgb(61, 6, 15);
    --background-middle:rgb(109, 43, 54);
    --background-light:rgb(222, 191, 196);
    --color-dark:rgb(59, 6, 15);
    --color-middle:rgb(123, 62, 73);
    --color-light:pink;
    --color-w:white;
    --font-size-:20px;
    --font-family-g: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family-f:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   --letter-spacing-b: 5px;
    --letter-spacing-s: 2px;
    --box-shadow-: 2px 2px 5px pink;
    --border-radius-: 5px;
    --border-:none;
    --text-align-: center;

}
.btn{
font-family: var(--font-family-f);
font-size: var(--font-size-);
letter-spacing: var(--letter-spacing-b);
box-shadow:var(--border-) ;
}
a{
    text-decoration: none;

}
li{
    list-style-type: none;
}
.nav-align{
width: 100%;
 background: var(--background-dark);
}
.nav{
/* border:3px solid rgb(253, 252, 251); */

}

.OrderList{
    text-align: center;
    text-transform: capitalize;
    border:3px solid rgb(249, 248, 245);
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center; 
font-family: var(--font-family-g);
font-size: var(--font-size-);
padding: 15px;
letter-spacing: var(--letter-spacing-b);

& .fa-regular{
   color:var(--color-w); 
   cursor: pointer;
   /* border: 2px solid; */
}
}
.OrderList a{
    color: var(--color-w);
    /* border: 2px solid; */

}
.dataTypes li{
padding: 1rem;
}
.dataTypes ul{
position: absolute;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
    top: 5.5rem;
    left: 1rem;
    color: rgb(100, 76, 53);
    background: rgb(83, 62, 41);
}
















